.home-policy {
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    padding: 36px 30px 28px;
    background: #eee;
  }
  
  .home-policy_item {
    align-items: center;
  
    &-img {
      margin-right: 14px;
      width: 50px;
      height: 50px;
      display: block;
    }
  
    &-txt {
      color: #333;
      font-size: 24px;
      line-height: 24px;
    }
  }