
.home-recommend {
  margin-top: 40px;
  background: #ffffff;
}

.home-recommend__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;

  &-txt {
    // color: $black;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
  }
}

.home-recommend__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;
}
